<section id="header" class="header" style="background-image: url('<%=@settings.header_image.url(:large) unless @settings.header_image.nil? %>')">
  <div class="container">
    <div class="headtitle row">
      <div class="small-12 medium-12 large-12 small-centered medium-centered large-centered columns"> <h1><%=@settings.headline%></h1></div>
    </div>
    <div class="subtitle row">
      <div class="small-12 medium-12 large-12 small-centered medium-centered large-centered columns"> <h2><%=@settings.subline%></h2></div>
    </div>
    <div class="info row">
      <div class="small-12 small-centered columns"><%=@settings.header_text.html_safe unless @settings.header_text.nil? %></div>
    </div>
  </div>
</section>
<%= render partial: "gallery" if @settings.enable_galleries %>
<%= render partial: "agenda" if @settings.enable_agendas %>
<%= render partial: "group" if @settings.enable_groups%>
<%= render partial: "ranking" if @settings.enable_rankings%>
<%= render partial: "practical_info" if @settings.enable_practical_infos%>
