<section id="header" class="header" style="background-image: url('<%=@settings.header_image.url(:large)%>')">
  <div class="container">
    <div class="headtitle row">
      <div class="small-10 small-centered columns"> <h1><%=@settings.headline%></h1></div>
    </div>
    <div class="subtitle row">
      <div class="small-10 small-centered columns"> <h2><%=@settings.subline%></h2></div>
    </div>
    <div class="info row">
      <div class="small-10 small-centered columns"><%=@settings.header_text.html_safe%></div>
    </div>
  </div>
</section>
<section id="galleries" class="galleries">
  <h3>GALLERY<h3>
      <div class="row small-up-1 medium-up-2 large-up-4">
        <hr>
        <% @galleries.each do |g| %>
          <div class="column">
            <%= link_to g do%>
              <%= image_tag g.photos.first.photo(:medium), class: "gallery-photo" %>
              <%= label_tag g.title, nil, class: "photo-title" %>
            <% end %>
            </a>
          </div>
        <% end %>
        <hr>
      </div>
</section>

