<header class="main-menu">
  <div class="mobile-row">
    <a class="logo" href="#">10 year 10to1</a>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li><%= home_link %></li>
        <% if @settings.enable_galleries %>
          <li><%= galleries_link %></li>
        <% end %>
        <% if @settings.enable_agendas %>
          <li><%= agendas_link%></li>
        <% end %>
        <% if @settings.enable_groups %>
          <li><%= groups_link%></li>
        <% end %>
        <% if @settings.enable_rankings %>
          <li><%= rankings_link%></li>
        <% end %>
        <% if @settings.enable_practical_infos%>
          <li><%= practical_info_link%></li>
        <% end %>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
